In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [1]:
from eda import scale

ModuleNotFoundError: No module named 'eda'

In [4]:
data = pd.read_csv('/content/drive/MyDrive/Codesquad Data/data/telco.csv')

In [5]:
data['Handset Type'].nunique()

1396

##### A little preprocessing to the Data

In [6]:
num_col = []
cat_col = []
def col_assign(datas):
    for i in datas.columns:
        if datas[i].dtypes == 'float':
            datas[i] = datas[i].fillna(data[i].mean())
            num_col.append(i)
        else:
            datas[i] = datas[i].fillna(data[i].mode()[0])
            cat_col.append(i)

    return 
col_assign(data)

In [7]:
pd.set_option('display.max_rows', 500)

In [13]:
 data['MSISDN/Number']/100000

0         336649.62239
1         336818.54413
2         337606.27129
3         337503.43200
4         336997.95932
              ...
149996    336506.88697
149997    336634.49963
149998    336218.90103
149999    336196.22058
150000    418828.19545
Name: MSISDN/Number, Length: 150001, dtype: float64

In [14]:
data

           Bearer Id            Start  ...  Total UL (Bytes) Total DL (Bytes)
0       1.311448e+19   4/4/2019 12:01  ...      3.674974e+07     3.088796e+08
1       1.311448e+19   4/9/2019 13:04  ...      5.380039e+07     6.533850e+08
2       1.311448e+19   4/9/2019 17:42  ...      2.788364e+07     2.798073e+08
3       1.311448e+19   4/10/2019 0:31  ...      4.332422e+07     8.460285e+08
4       1.311448e+19  4/12/2019 20:10  ...      3.854281e+07     5.691386e+08
...              ...              ...  ...               ...              ...
149996  7.277826e+18   4/29/2019 7:28  ...      5.762885e+07     5.741753e+08
149997  7.349883e+18   4/29/2019 7:28  ...      3.913508e+07     6.666488e+08
149998  1.311448e+19   4/29/2019 7:28  ...      3.491222e+07     5.927864e+08
149999  1.311448e+19   4/29/2019 7:28  ...      2.962610e+07     3.718959e+08
150000  1.013887e+19   4/26/2019 7:25  ...      4.112121e+07     4.546434e+08

[150001 rows x 55 columns]

In [37]:
agg = data.groupby(['MSISDN/Number']).agg(MSISDN_PER_DUR = ('Dur. (ms)', 'count'))
agg1 = data.groupby(['MSISDN/Number']).agg(MSISDN_PER_SES = ('Dur. (ms)', sum))
#agg1 = data.groupby(['Total UL (Bytes)','Total DL (Bytes)'],as_index=False).agg(new_agg = ('MSISDN/Number', 'count'))
#agg1 = data.groupby(['MSISDN/Number'],as_index=False).agg(new_agg = ('Dur. (ms)', 'count'))

In [38]:
agg1

               MSISDN_PER_SES
MSISDN/Number
3.360100e+10     1.167200e+05
3.360100e+10     1.812300e+05
3.360100e+10     1.349690e+05
3.360101e+10     4.987800e+04
3.360101e+10     3.710400e+04
...                       ...
3.379000e+10     1.409880e+05
4.188282e+10     7.255100e+07
3.197021e+12     8.773850e+05
3.370000e+14     2.530300e+05
8.823971e+14     8.698440e+05

[106857 rows x 1 columns]

### **PRE-TASK**

In [20]:
group = []
def pretask(datas):   

  top_handset = data['Handset Type'].value_counts().nlargest(10)
  top_manus = data['Handset Manufacturer'].value_counts().nlargest(3)
  new_df = datas.loc[datas["Handset Manufacturer"]=="Apple",:]
  new_df1 = datas.loc[datas["Handset Manufacturer"]=="Samsung",:]
  new_df2 = datas.loc[datas["Handset Manufacturer"]=="Huawei",:]
  num_large = new_df['Handset Type'].value_counts().nlargest(5)
  num_large1 = new_df1['Handset Type'].value_counts().nlargest(5)
  num_large2 = new_df2['Handset Type'].value_counts().nlargest(5)
  num_large = pd.DataFrame(num_large.reset_index())
  num_large1 = pd.DataFrame(num_large1.reset_index())
  num_large2 = pd.DataFrame(num_large2.reset_index())
  num_large.rename(columns = {'index':'Apple', 'Handset Type':'No_apple_product'}, inplace = True)
  num_large1.rename(columns = {'index':'Samsung', 'Handset Type':'No_samsung_product'}, inplace = True)
  num_large2.rename(columns = {'index':'Huawei','Handset Type':'No_huawei_product'}, inplace = True)
  group.append(num_large)
  group.append(num_large1)
  group.append(num_large2)
pretask(data)
group = pd.concat(group, axis =1)

# **TASK ONE**